

<!DOCTYPE HTML>

	<head>
    {% load static %}
		<title>Macklaey Pharmaceuticals</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static "homepage/assets/css/main.css"%}" />
		<noscript><link rel="stylesheet" href="{% static "homepage/assets/css/noscript.css"%}" /></noscript>
	</head>
	<body class="is-loading">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="{% static "homepage/images/avatar.jpg" %}" alt="" /></span>
							<h1>Welcome</h1>
                            <a href="/admin">Admin</a>
                            <br>
                            <a href="/medicine/">Medicines</a>
                            <br>
                            <a href="/supplier/">Supplier</a>
                            <br>
                            <a href="/client/">Clients</a>
                            <br>
						</header>
					</section>
					<footer id="footer">
					</footer>

			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>